/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Fondo oscuro más intenso */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

/* Modal Image */
.modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Close Button */
.close-btn {
  background-color: #ff7b7b; /* Rosa más suave */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.close-btn:hover {
  background-color: #ff5252; /* Color más fuerte al pasar el ratón */
  transform: scale(1.05); /* Aumento de tamaño al pasar el ratón */
}

.close-btn:focus {
  outline: none;
}

/* Animación de entrada del modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Botones generales */
.reserve-btn {
  background-color: #009688; /* Verde Aqua */
  color: rgba(255, 255, 255, 0.034);
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.reserve-btn:hover {
  background-color: #00796b; /* Verde más oscuro */
  transform: scale(1.05); /* Efecto de agrandamiento */
}

.reserve-btn:focus {
  outline: none;
}
